.customHover:hover {
 background-color:rgb(218, 113, 121);
}

.input-text{
 width: 60%;       
}

hr{
    width:100%
}

.Todo-Item{
    width:100%;
}

.text-area{
    width: 60%;
    min-Height: 20%;
}

.add-button{
      width: 40px;
        height: 40px;
        border-Radius: 50px;
}

@media only screen and (min-width:992px){
    #Todo-List .Todo-Item{
    border: 2px solid #dee2e6;
    padding: 1rem;
    min-height:28vh;
    width:260px;
    margin-bottom: 20px;
    
    background: var(--bgcolor);
    box-Shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .input-text{
        width: 50%;
    }

    hr{
        width:100%
    }

    .add-button{
        width: 58px;
        height: 57px;
        border-Radius: 180px;
    }

    .text-area{
    width: 50%;
    min-Height: 50%;
}
}

@media only screen and (max-width:576px){
 .text-area{
    width:40%;
    min-Height: 60%;
}}
